body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background-color: <!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <title>Tasks</title>
    </head>
    <link rel="stylesheet" href="style.css">
    <body>
        <div class="container">
            <h1>Tasks</h1>
            
            <form id="taskForm">
              <input type="text" id="taskInput" placeholder="Enter Task">
              <button type="submit" id="submitButton" disabled>Submit</button>
            </form>
          
            <ul id="taskList">
            </ul>
            
            <div id="submittedTasks">
            </div>
          </div>
          
          <script src="tasks.js"></script>
    </body>

</html>#c298c200;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color:  rgb(238, 238, 69);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(32, 126, 167, 0.1);
  }
  
  h1 {
    text-align: left;
  }
  
  form {
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid rgb(53, 73, 171) (26, 1, 21);
    border-radius: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(155, 96, 27);
    color: rgb(175, 250, 110), ;
    border: 2px solid rgb(31, 26, 26);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: white;
    cursor: not-allowed;
  }
  
  ul {
    list-style-type: lower-alpha;
    padding: 3px;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(245, 226, 220);
    border-radius: 5px;
  }
  
